:root {
    --clear-sky: linear-gradient(45deg, #62cff4, #2c67f2);
    --partly-cloudy: linear-gradient(to bottom, #87CEEB, #B00C4DE);
    --cloudy: linear-gradient(to bottom, #B0C4DE, #808080);
    --rainy: linear-gradient(to bottom, #5F9EA0, #4682B4);
    --stormy: linear-gradient(to bottom, #2f4f4f, #1c1c1c);
    --snowy: linear-gradient(to bottom, #F8F8FF, #C0C0C0);
    --foggy: linear-gradient(to bottom, #D3D3D3, #A9A9A9);
    --dawn: linear-gradient(to bottom, #FFA07A, #FF6347, #FFD700);
    --dusk: linear-gradient(to bottom, #2C3E50, #FD746C);
    --night: linear-gradient(to bottom, #0F2027, #203A43, #2C5364);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    /* background: url("./images/test.jpg") center center / cover no-repeat; */
    background: var(--stormy);
    box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    padding: 0 4em;
    color: #fff;
    position: relative;
    overflow-x: hidden;
    z-index: -99;
}

.clear-sky {
    background: var(--clear-sky);
}

.partly-cloudy {
    background: var(--partly-cloudy);
}

.cloudy {
    background: var(--cloudy);
}

.rainy {
    background: var(--rainy);
}

.stormy {
    background: var(--stormy);
}

.snowy {
    background: var(--snowy);
}

.foggy {
    background: var(--foggy);
}

.dawn {
    background: var(--dawn);
}

.dusk {
    background: var(--dusk);
}

.night {
    background: var(--night);
}


.weather--image {
    width: 45em;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

}

/* Navigation bar */
.nav--bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
    font-weight: 500;
}

.logo {
    width: 100%;
    display: flex;
    gap: .5em;
    align-items: center;
    /* border: 1px solid red; */
}

#logo {
    width: 30px;
}

.time--date{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 4em; */
    /* border: 1px solid red; */
}

.time--date .time{
    font-size: 2rem;
    font-weight: 700;
}

.time--date date{
    word-spacing: 15px;
}

.aside {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    /* border: 1px solid red; */
}

.search input {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    backdrop-filter: blur(10px);
    padding: .5em;
    outline: none;
    font-size: 16px;
    border-style: none;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* border: 1px solid red; */
}

.dropdown-container {
    width: 300px;
    margin: 0 auto;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    backdrop-filter: blur(10px);
    width: 100%;
    border: 1px solid #ccc;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Background of the scrollbar */
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); 
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

/* Hover effect on scrollbar */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
}

.show {
    display: block;
}

#weatherInfo {
    margin-top: 20px;
}

/* Content styles */
.content {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 1px solid red; */
}

.content h2 {
    font-size: 4rem;
    font-weight: 600;
}

.content h4 {
    font-size: 3rem;
    font-weight: 500;
}

.content .info {
    width: 300px;
    margin-top: 2em;
}

.cities {
    display: flex;
    gap: 2em;
    margin-top: 2em;
}

.cities .temp {
    font-size: 2.5rem;
}

.wind{
    font-size: 1rem;
}

.content .content-left {
    width: 100%;
    /* border: 1px solid blue; */
}

.description--weather {
    width: 70%;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 1em;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 1;
}

.content .content-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2em;
    width: 100%;
    /* border: 1px solid blue; */
}

.weather--data {
    display: flex;
    flex-direction: column;
    gap: 0 1em;
    /* border: 1px solid red; */
}

.city p {
    line-height: 1.5;
}

.city .temp {
    font-size: 1.5rem;
    font-weight: 500;
}

.temp--condition {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 2em;
    /* border: 1px solid blue; */
}

.temp--condition .condition{
    position: relative;
    top: -20px;
}

.temp--condition .condition p {
    border-radius: 20px;
    text-align: center;
    padding: .5em;
    font-size: .75rem;
    font-weight: 600;
}

.temp--condition .condition p:first-child {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: .5em;
}

.temp--condition .condition p:last-child {
    background-color: rgb(2, 2, 56);
    /* padding: .5em; */
}

.weather--details {
    display: flex;
    align-items: baseline;
    gap: 4.5em;

}

.weather--details .intensity {
    align-self: flex-end;
}

.temperature {
    display: flex;
    align-items: baseline;
}

.temperature h1 {
    font-size: 8em;
    line-height: .6;
}

.temperature span {
    font-size: 2em;
    font-weight: normal;
    letter-spacing: -5px;
    margin-left: -1em;
}

.description p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
}

.other-weather-info {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
}

.other-weather-info .weather-type {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.weather-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1em;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: .5px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    padding:0.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5em;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border: .5px solid rgba(255, 255, 255, 0.3);
}

.card--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
}

.card--flex p {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
}
.card--info p:last-child {
    font-size: .9rem;
}
.card--text {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
}

.card--info {
    display: flex;
    flex-direction: column;
    gap: .2em;
    text-align: left;
}

.weather--icons {
    width: 30px;
}