<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WIEM</title>
</head>
<body>
    <img src="{{ url_for('static', filename='images/weather-icons/Day-Clear.png')}}" alt="clear day" class="weather--image"/>
    <nav class="nav--bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/weather.png')}}" alt="logo" id="logo"/>
            <p>Weather Station</p>
        </div>
        <section class="time--date">
            <div class="time">
                <p>09:46 AM</p>
            </div>
            <div class="date">
                <p>29 Dec 2023</p>
            </div>
        </section>
        <section class="aside">
            <div class="greetings">
                <p>Hey! Ghana</p>
            </div>
            <div class="search">
                <input type="search" placeholder="type a city...">
            </div>
        </section>
    </nav>
    <section class="content">
        <section class="content-left">
            <header>
                <h2>Stormy</h2>
                <h4>with Heavy Rain</h4>
            </header>
            <main class="info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus blanditiis adipisci atque dolores molestias nihil saepe ut, cumque, quaerat fuga exercitationem amet accusantium mollitia fugiat non corrupti, commodi pariatur maxime!
            </main>
            <section class="cities">
                <div class="city city--one">
                    <p class="temp">12<sup>o</sup></p>
                    <p class="wind">40.0NW</p>
                    <p>Kumasi</p>
                </div>
                <div class="city city--two">
                    <p class="temp">17<sup>o</sup></p>
                    <p class="wind">40.0NW</p>
                    <p>Sunyani</p>
                </div>
                <div class="city city--three">
                    <p class="temp">22<sup>o</sup></p>
                    <p class="wind">40.0NW</p>
                    <p>Tamale</p>
                </div>
            </section>
        </section>
        <section class="content-right">
            <div class="weather--data">
                <div class="temp--condition">
                    <div class="condition">
                        <p>31.99N</p>
                        <p>Excellent</p>
                    </div>
                    <div class="temperature">
                        <h1>27°</h1>
                        <span>+/-</span>
                    </div>
                </div>
                <div class="weather--details">
                    <div class="intensity">
                        <p><em>intensity</em></p>
                        <p><em>zones</em></p>
                    </div>
                    <div class="description">
                        <p>WIND: WSW 6 MPH</p>
                        <p>UV INDEX: 0 OF 10</p>
                        <p>-ACCRA</p>
                    </div>
                </div>
            </div>
            <div class="other-weather-info">
                <div class="weather-type">
                    <div class="weather-info">
                        <div class=" card humidity">
                            <div class="card--flex">
                                <img src="{{ url_for('static', filename='images/humidity.png') }}" alt="humidity" class="weather--icons"/>
                                <p>65%</p>
                            </div>
                            <div class="card--info">
                                <p class="card--text">Humidity</p>
                                <p>will be 65%</p>
                            </div>
                        </div>
                        <div class="card wind-speed">
                            <div class="card--flex">
                                <img src="{{ url_for('static', filename='images/wind.png') }}" alt="wind speed" class="weather--icons"/>
                                <p>10MPH</p>
                            </div>
                            <div class="card--info">
                                <p class="card--text">Wind speed</p>
                                <p>will be 10MPH</p>
                            </div>
                        </div>
                        <div class="card sunrise-sunset">
                            <div class="card--flex">
                                <img src="{{ url_for('static', filename='images/sun.png') }}" alt="sun image" class="weather--icons"/>
                                <p>06:30AM</p>
                            </div>
                            <div class="card--info">
                                <p class="card--text">Sunrise</p>
                                <p>at 6:30AM</p>
                            </div>
                        </div>
                        <div class="card precipitation">
                            <div class="card--flex">
                                <img src="{{ url_for('static', filename='images/weather.png') }}" alt="wind speed" class="weather--icons"/>
                                <p>10mm</p>
                            </div>
                            <div class="card--info">
                                <p class="card--text">Precipitation</p>
                                <p>will be at 10mm</p>
                            </div>
                        </div>
                        <div class="card air-quality">
                            <div class="card--flex">
                                <img src="{{ url_for('static', filename='images/air-flow.png') }}" alt="wind speed" class="weather--icons"/>
                                <p>10/500</p>
                            </div>
                            <div class="card--info">
                                <p class="card--text">Air quality Index</p>
                                <p>is good at 10/500</p>
                            </div>
                        </div>
                        <div class="card uv-index">
                            <div class="card--flex">
                                <img src="{{ url_for('static', filename='images/sunburn.png') }}" alt="wind speed" class="weather--icons"/>
                                <p>01/10</p>
                            </div>
                            <div class="card--info">
                                <p class="card--text">UV index</p>
                                <p>is very low</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>
</html>